asgiref              
certifi              
chardet              
Django               
django-filter        
django-widget-tweaks 
docopt               
fpdf            
idna           
Pillow          
pip             
pipreqs         
prettytable    
pyfiglet       
pytz            
razorpay       
requests        
setuptools      
sqlparse        
urllib3        
wcwidth              
yarg                 
gunicorn